#main {
  text-align: center;
}

#content {
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}


#mondai {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
}

.text.default {
  color: aliceblue;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.text.correct {
  color: black;
  text-shadow: none;
}

.text {
  padding: 2px;
}

#start-button {
  font-size: 1.0em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #248;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

#finish-panel {
  text-align: center;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

#tool {
  padding-top: 16px;
}
